*{
    margin: 0px;
    font-family: Arial;
}

body{
    background-color: #F4EAD5;
}

nav{
    background-color: #E94E77;
    width: 100%;
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    min-width: 372px;
    color: #F4EAD5;
}

.nav-element{
    margin-top:auto;
    margin-bottom:auto;
    margin-left: 25px;
}

article{
    padding: 5px;
}

article p{
    margin-top: 5px;
    margin-bottom: 5px;
}

h2{
    color: #E94E77;
}

div{
    margin-top: 15px;
}

img{
    max-width: 120px;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.today{
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    border-radius: 15px;
    background-color: #c6e5d9;
    max-width: max-content;
}

.today img{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    max-width: 380px;
    border-radius: 15px;
}

.popular-menu{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.menu{
    margin-top: 5px;
    padding: 5px;
    border-radius: 15px;
    margin-left: 10px;
    background-color: #c6e5d9;
    width: max-content;
    text-align: center;
}

.menu img{
    border-radius: 15px;
    margin-bottom: 7px;
}

.all-menu{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);

}

@media only screen and (min-width: 620px) {
    .all-menu{
        grid-template-columns: repeat(4, 1fr);
    }

    .popular-menu{
        display: flex;
        justify-content: left;
    }
}

@media only screen and (min-width: 740px) {
    .all-menu{
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (min-width: 860px) {
    .all-menu{
        grid-template-columns: repeat(6, 1fr);
    }
}

@media only screen and (min-width: 980px) {
    .all-menu{
        grid-template-columns: repeat(7, 1fr);
    }
}

@media only screen and (min-width: 1000px) {
    .all-menu{
        grid-template-columns: repeat(8, 1fr);
    }
}

@media only screen and (min-width: 1120px) {
    .all-menu{
        grid-template-columns: repeat(9, 1fr);
    }
}

@media only screen and (min-width: 1240px) {
    .all-menu{
        grid-template-columns: repeat(10, 1fr);
    }
}